main {
  @apply px-6 pb-10;
}
body {
  @apply w-screen;
}
h3{
  text-align: center;
}
h1{
  text-align: center;
  color: black;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.btn{
  @apply bg-green-500 text-white border-2 border-black;
  @apply cursor-pointer text-xl px-12 py-6 align-middle inline-block;
}


